
.header {
    margin: auto;
    max-width: 45em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #54737d
}

.info_text {
    margin: auto;
    color: #54737d;
    max-width: 30em
}

.login {
    background: #5b97ab;
}

body {
    background-color: #e6f9fa;
    margin: auto;
    max-width: 45em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}