{% extends "layout.html" %}
{% block content %}
<h2>Lisää työkokemus</h2>

<form action="/add_job_experience" method ="POST">
    <p>Työnantaja: </p>
    <input type="text" name="employer">
    <br>
    <p>Roolisi: </p>
    <input type="text" name="role">
    <br>
    <p>Työnkuvaus: </p>
    <input type="text" name="description">
    <br>
    <p>Alkupäivämäärä: </p>
    <input type="date" name="beginning">
    <br>
    <p>Loppupäivämäärä: </p>
    <input type="date" name="ended">
    <br>
    <input type="submit" name="Lisää työkokemus">
</form>

{% endblock %}