<!--saatavilla vain työnantajalle
routes tarvitaan reitti tälle sivulle
    - lomakkeella kysytään tiedot
    - myös hakulomakkeen kysymykset
jobs.py tiedostoon tarvitaan add_job funktio, jota kutsutaan töiden lisäämiseen
sitten kutsutaan add_application_form (myös job.py -moduulissa koska liittyy
vain töihin eikä hakemuksiin?) joka lisää hakulomakkeen tietokantaan ja viitteen jobs
-tauluun 
-->

{% extends "layout.html" %}
{% block content %}

<h2>Lisää työpaikka</h2>

<div class = "info_text">
    <p> Tällä sivulla voit lisätä uuden työpaikkailmoituksen. Kaikkiin lomakkeen kohtiin on vastattava. 
        Työpaikka aukeaa haettavaksi heti kun julkaiset sen. Työpaikkailmoitus sulkeutuu automaattisesti hakuajan päätyttyä. </p>
</div>

<h3>Lisää työpaikkaan liittyvät tiedot: </h3>

<form action="/add_job" method ="POST">
    <p>Rooli: </p>
    <input type="text" name="role">
    <br>
    <p>Työn kuvaus: </p>
    <textarea name = "description" rows="5" cols = "40"></textarea>
    <br>
    <p>Alkupäivämäärä: </p>
    <input type="date" name="beginning">
    <br>
    <p>Loppupäivämäärä: </p>
    <input type="date" name="ends">
    <br>
    <p>Haku loppuu: </p>
    <input type ="date" name="application_period_closes">
    <br>
    <h3>Lisää hakulomakkeen kysymykset: </h3>
    <br>
    <p>Voit jättää kysymyksen tyhjäksi, jolloin sitä ei näytetä hakulomakkeessa.
        Lomakkeeseen on lisättävä ainakin yksi kysymys.</p>
    <br>
    <p>Kysymys 1: </p>
    <input type="text" name="question_1">
    <br>
    <p>Kysymys 2: </p>
    <input type="text" name="question_2">
    <br>
    <p>Kysymys 3: </p>
    <input type="text" name="question_3">
    <br>
    <p>Kysymys 4: </p>
    <input type="text" name="question_4">
    <br>
    <p>Kysymys 5: </p>
    <input type="text" name="question_5">
    <br>
    <br>
    <input type="submit" value = "Lisää työpaikkailmoitus" name="Lisää työpaikkailmoitus">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<br>
<a href="/mainpage">Palaa etusivulle</a>
{% endblock %}