<p>{{job_id}}</p>

<form action="/apply/{{job_id}}" method ="POST">
    <p>{{application_form.question_1}} </p>
    <input type="text" name="answer_1">
    <br>
    <p>{{application_form.question_2}}</p>
    <input type="text" name="answer_2">
    <br>
    <p>{{application_form.question_3}}</p>
    <input type="text" name="answer_3">
    <br>
    <p>{{application_form.question_4}}</p>
    <input type="text" name="answer_4">
    <br>
    <p>{{application_form.question_5}}</p>
    <input type="text" name="answer_5">
    <br>
    <input type="submit" name="Hae työpaikkaa">
</form>