

{% extends "layout.html" %}
{% block content %}

<div class = "info_text">
    <p> Rekrytointisovellus on Flask-pohjainen sovellus, jossa työntekijät voivat
        luoda itselleen työnhakuprofiilin ja hakea työpaikkoja. Työnantajat taas voivat
        luoda työnantajaprofiilin, luoda uusia työpaikkailmoituksia ja valita työntekijöitä
        avoimiin paikkoihin.
    </p>
</div>

<h2>Kirjaudu sisään tai rekisteröidy</h2>

<p> Tämä sovellus vaatii sisään kirjautumisen tai rekisteröitymisen. </p>
<br>
<div class = "login">
Jos sinulla on jo tunnus: <br> <a href="/login">Kirjaudu sisään tästä</a>
<br>
<br>
Jos sinulla ei ole vielä tunnusta: <br> <a href="/register">Rekisteröidy tästä</a>
</div>
<br>
{% endblock %}
