{% extends "layout.html" %}
{% block content %} 

<nav>
    <ul>
        <li><a href ="/own_profile"> Oma profiilisi </a></li>
        {% if session.user_role == 0 %}
        <li><a href="/own_applications">Hakemasi paikat </a></li>
        {% endif %}

        {% if session.user_role == 1 %}
        <li><a href="/own_jobs">Omat työpaikkailmoituksesi</a></li>
        <li><a href="/add_job">Lisää uusi työpaikkailmoitus</a></li>
        {% endif %}
        <li><a href="/logout"> Kirjaudu ulos</a></li>
    </ul>
</nav>

<h2> Etusivu </h2>

<h3>Kaikki avoimet työpaikat</h3>

{% if open_jobs %}

{% for job in open_jobs %}
<div class = "content_box">
    <p>Rooli: {{job.role}}</p>
    <p>Työnantaja: {{job.employer_name}}</p>
    <p>Työpaikan kuvaus: {{job.description}}</p>
    <nav>
        <ul>
            <li>Työ alkaa: {{job.beginning}}</li>
            <li>Työ päättyy: {{job.ends}}</li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>Haku on auennut: {{job.opened}}</li>
            <li>Haku päättyy: {{job.closing}}</li>
        </ul>
    </nav>
    <a href="/apply/{{job.id}}">Hae paikkaa </a>
</div>
{% endfor %}

{% else %}

Ei auki olevia paikkoja.

{% endif %}


{% endblock %}