{% extends "layout.html" %}
{% block content %} 

<h2> Etusivu </h2>

<h3>Kaikki työpaikkailmoitukset</h3>

<p>Voit tarkastella omaa profiiliasi tästä: <a href ="/own_profile"> Oma profiilisi </a></p>

{% if session.user_role == 0 %}
<p>Voit selata hakemiasi työpaikkoja tästä: <a href="/own_jobs">Hakemasi paikat </a></p>
{% endif %}

{% if session.user_role == 1 %}
<p>Voit tarkastella ja muokata omia työpaikkailmoituksiasi tästä: <a href="/own_jobs">Omat ilmoituksesi</a> </a></p>
<p>Voit lisätä uuden ilmoituksen tästä: <a href="/add">Lisää uusi työpaikkailmoitus</a></p>
{% endif %}

Olet kirjautunut sisään nimellä <b> {{session.user_name }} </b>. <a href="/logout"> Kirjaudu ulos</a>

{% endblock %}