{% extends "layout.html" %}
{% block content %}

<h2>Omat työpaikkailmoituksesi</h2>

<h3>Avoimet ilmoitukset:</h3>

{% if own_jobs != None %}
{% for job in open_jobs %}
<p>------------</p>
<p>Rooli: {{job.role}}</p>
<p>Työnantaja: {{job.name}}</p>
<p>Kuvaus: {{job.description}}</p>
<p>Voit tarkastella paikkaan  lähetettyjä hakemuksia tästä: <a href="/all_applicants/{{job.id}}">Tarkastele hakemuksia</a></p>
<p>Voit poistaa työpaikkailmoituksen tästä, jos hakuaika ei ole vielä alkanut: <a href="/delete_job/{{job.id}}">Poista työpaikka</a></p>
{% endfor %}
{% else %}
<p>Et ole vielä lisännyt yhtäkään työpaikkaa</p>
{% endif %}

<h3>Suljetut paikat: </h3>
<p>Tässä listataan paikat, joihin on jo valittu joku?</p>
<p>Tai sit listataan paikat, missä hakuaika päättynyt</p>

{% endblock %}