{% extends "layout.html" %}
{% block content %}

<h2> Käyttäjän <b> {{session.user_name }} </b> profiili</h2>

{% if session.user_role == 0 %}
<div class = "info_text">
    <p> Tällä sivulla voit tarkastella ja muokata omaa profiiliasi. Profiilisi on nähtävillä
        niille työnantajille, joiden lisäämää työpaikkaa olet hakenut.
    </p>
</div>
{% else %}
<div class = "info_text">
    <p> Tällä sivulla voit tarkastella ja muokata omaa profiiliasi. Profiilisi on nähtävillä
        lisäämiesi työpaikkailmoitusten yhteydessä.
    </p>
</div>
{% endif %}

<h3>Profiiliteksti:</h3>
{% if profile_text %}
<div class = "content_box">
    <p> {{profile_text}} </p>
    <p>Muokkaa profiilitekstiäsi tästä: <a href="/edit_profile_text">Muokkaa profiilitekstiäsi </a></p>
    <p>Poista profiiliteksti tästä: <a href="/delete_profiletext">Poista profiiliteksti</a></p>
</div>

{% else %}
<div class="content_box_without_content">
    <p>Lisää profiiliteksti tästä: <a href="/edit_profile_text">Lisää profiiliteksti </a></p>
</div>
{% endif %}

{% if session.user_role == 0 %}
<h3>Työkokemuksesi:</h3>

{% for job in job_experience %}
<div class = "content_box">
    <p>Työnantaja: {{job.employer}} </p>
    <p>Roolisi: {{job.role}}</p>
    <p>Työnkuvaus:</p>
    {{job.description}}
    <p>Alkupäivämäärä: {{job.beginning}}</p>
    <p>Loppupäivämäärä: {{job.ended}}</p> 
    <br>
    <p>Muokkaa työkokemusta tästä:<a href="/edit_job_experience/{{job.id}}">Muokkaa työkokemusta</a></p>
    <p>Poista työkokemus tästä: <a href="/delete_job_experience/{{job.id}}">Poista työkokemus</a></p>
</div>
{% endfor %}

{% if not job_experience %}
<div class = "content_box_without_content">
    <p>Lisää uusi työkokemus tästä: <a href="/add_job_experience">Lisää työkokemus </a></p>
</div>
{% else %}
<p>Lisää uusi työkokemus tästä: <a href="/add_job_experience">Lisää työkokemus </a></p>
{% endif %}
{% endif %}


{% if session.user_role == 0 %}
<h3>Koulutuksesi:</h3>

{% for education in education %}
<div class = "content_box">
    <p>Koulu: {{education.school}} </p>
    <p>Koulutuksen taso: {{education.level}}</p>
    <p>Koulutuksen kuvaus:</p>
    {{education.description}}
    <p>Aloituspäivämäärä: {{education.beginning}}</p>
    <p>Valmistumispäivämäärä: {{education.graduation}}</p> 
    <br>
    <p>Muokkaa koulutusta tästä: <a href="/edit_education/{{education.id}}">Muokkaa koulutusta</a></p>
    <p>Poista koulutus tästä:<a href="/delete_education/{{education.id}}">Poista koulutus</a></p>
    <br>
</div>
{% endfor %}

{% if not education %}
<div class = "content_box_without_content">
    <p>Lisää uusi koulutus tästä: <a href="/add_education">Lisää koulutus </a></p>
</div>
{% else %}
<p>Lisää uusi koulutus tästä: <a href="/add_education">Lisää koulutus </a></p>
{% endif %}
{% endif %}

<br>
<a href="/mainpage">Palaa etusivulle</a>

{% endblock %}


