{% extends "layout.html" %}
{% block content %}

<h2> Käyttäjän <b> {{session.user_name }} </b> profiili</h2>

<p>Nimi: <b> {{session.user_name }} </b></p>

{% if profile_text %}
<p>Profiiliteksti:<br>
{{profile_text}}</p>

<p>Muokkaa profiilitekstiäsi tästä: <a href="/edit_profile">Muokkaa profiilitekstiäsi </a></p>

{% else %}
<p>Lisää profiiliteksti tästä: <a href="/edit_profile">Lisää profiiliteksti </a></p>

{% endif %}

{% if session.user_role == 0 %}
<p>Työkokemuksesi:</p>
    {% for job in job_experience %}
    <p>-------------------</p>
    <p>Työnantaja: {{job.employer}} </p>
    <p>Roolisi: {{job.role}}</p>
    <p>Työnkuvaus:</p>
    {{job.description}}
    <p>Alkupäivämäärä: {{job.beginning}}</p>
    <p>Loppupäivämäärä: {{job.ended}}</p> 
    <br>
    Muokkaa työkokemusta <a href="/edit_job_experience/{{job.id}}">Muokkaa työkokemusta</a>
    Poista työkokemus <a href="/delete_job_experience/{{job.id}}">Poista työkokemus</a>
    <br>
    <p>-------------------</p>
    {% endfor %}

<p>Lisää työkokemus tästä: <a href="/add_job_experience">Lisää työkokemus </a></p>
{% endif %}

{% if session.user_role == 0 %}
<p>Koulutuksesi:</p>
    {% for education in education %}
    <p>-------------------</p>
    <p>Koulu: {{education.school}} </p>
    <p>Koulutuksen taso: {{education.level}}</p>
    <p>Koulutuksen kuvaus:</p>
    {{education.description}}
    <p>Aloituspäivämäärä: {{education.beginning}}</p>
    <p>Valmistumispäivämäärä: {{education.graduation}}</p> 
    <br>
    Muokkaa koulutusta <a href="/edit_education/{{education.id}}">Muokkaa koulutusta</a>
    Poista koulutus <a href="/delete_education/{{education.id}}">Poista koulutus</a>
    <br>
    <p>-------------------</p>
    {% endfor %}

<p>Lisää koulutus tästä: <a href="/add_education">Lisää koulutus </a></p>
{% endif %}


<a href="/mainpage">Palaa etusivulle</a>

{% endblock %}


