{% extends "layout.html" %}
{% block content %}

<h2> Käyttäjän <b> {{session.user_name }} </b> profiili</h2>

<p>Nimi: <b> {{session.user_name }} </b></p>
<!-- tähän mahdollisesti etunimi ja sukunimi
    vaatisi etunimen ja sukunimen asettamista jo rekisteröityessä
    muokataan rekisteröitymis html:aa
    muokataan employers ja employees tauluja
    tarvitaanko get_name functio users.py -tiedostoon
        ainakin täytyy rekisteröityessä asettaa session.user_real_name -->

{% if profile_text %}
<p>Profiiliteksti:<br>
{{profile_text}}</p>
<!--Voisko tälle antaa parametrina profiilitekstin joka on annettu tälle html:lle parametrina?
Toinen vaihtoehto olis tehdä erikseen profiilitekstin lisäys ja profiilitekstin muokkaaminen -sivut
Tyhmää hakea routes.py tiedostossa kummankin sivun kohdalla erikseen profiiliteksti kun se on kerran jo haettu tälle html:lle-->
<p>Muokkaa profiilitekstiäsi tästä: <a href="/edit_profile">Muokkaa profiilitekstiäsi </a></p>

{% else %}
<p>Lisää profiiliteksti tästä: <a href="/edit_profile">Lisää profiiliteksti </a></p>

{% endif %}

<!-- Pitäisi jotenkin mahdollistaa yksittäisen työkokemuksen muokkaaminen
Lisäksi mahdollisuus poistaa työkokemusta? -> visible sarake job_experience -tauluun?-->
<p>Työkokemuksesi:</p>
    {% for job in job_experience %}
    <p>-------------------</p>
    <p>Työnantaja: {{job[0]}} </p>
    <p>Roolisi: {{job[1]}}</p>
    <p>Työnkuvaus:</p>
    {{job[2]}}
    <p>Alkupäivämäärä: {{job[3]}}</p>
    <p>Loppupäivämäärä: {{job[4]}}</p> 
    <br>
    Muokkaa työkokemusta <a href="/edit_job_experience">Muokkaa työkokemusta</a>
    <br>
    <p>-------------------</p>
    {% endfor %}

<p>Lisää työkokemus tästä: <a href="/add_job_experience">Lisää työkokemus </a></p>



<p>Koulutuksesi:</p>
    {% for education in education %}
    <p>-------------------</p>
    <p>Koulu: {{education[0]}} </p>
    <p>Koulutuksen taso: {{education[1]}}</p>
    <p>Koulutuksen kuvaus:</p>
    {{education[2]}}
    <p>Aloituspäivämäärä: {{education[3]}}</p>
    <p>Valmistumispäivämäärä: {{education[4]}}</p> 
    <br>
    Muokkaa koulutusta <a href="/edit_education">Muokkaa koulutusta</a>
    <br>
    <p>-------------------</p>
    {% endfor %}

<p>Lisää koulutus tästä: <a href="/add_education">Lisää koulutus </a></p>


<a href="/mainpage">Palaa etusivulle</a>

{% endblock %}


