{% extends "layout.html" %}
{% block content %}

<h2> Rekisteröityminen <h2>

<form action="/register" method ="POST">
<p>Anna 1-15 merkkiä pitkä käyttäjätunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password1"></p>
<p>Salasana uudestaan: <br>
<input type ="password" name="password2"></p>
<p> Käyttäjärooli: </p>
<p>
<input type="radio" name="role" value="0">Työntekijä
<input type="radio" name="role" value="1">Työnantaja
<br>
<input type="submit" value="Luo tunnus">
</form>

<a href="/">Palaa etusivulle</a>

{%endblock%}
