{% extends "layout.html" %}
{% block content %}


<body>
    <h2>Rekisteröityminen</h2>
    
    <div class = "login">
        <form action="/register" method ="POST">
            <p>Anna 1-20 merkkiä pitkä käyttäjätunnus:<br>
            <input type="text" name="username"></p>
            <p>Salasana:<br>
            <input type="password" name="password1"></p>
            <p>Salasana uudestaan: <br>
            <input type ="password" name="password2"></p>
            <p> Käyttäjärooli: </p>
            <p>
            <input type="radio" name="role" value="0">Työntekijä
            <input type="radio" name="role" value="1">Työnantaja
            <br>
            <br>
            <input type="submit" value="Luo tunnus">
            </form>
    </div>
    <a href="/">Palaa aloitussivulle</a>
</body>



{%endblock%}