{% extends "layout.html" %}
{% block content %}

{% if user_role == 0 %}
<p>Hakemuksesi työpaikkaan: {{application.role}}</p>
{% else %}
<p> Hakijan {{application.name}} hakemus työpaikkaan {{application.role}}</p>
{% endif %}

{% if application.question_1 != "-" %}
{{application.question_1}}
<br>
{{application.answer_1}}
{% endif %}
<br>
<br>
{% if application.question_2 != "" %}
{{application.question_2}}
<br>
{{application.answer_2}}
{% endif %}
<br>
<br>
{% if application.question_3 != "" %}
{{application.question_3}}
<br>
{{application.answer_3}}
{% endif %}
<br>
<br>
{% if application.question_4 != "" %}
{{application.question_4}}
<br>
{{application.answer_4}}
{% endif %}
<br>

{% if application.question_5 != "" %}
{{application.question_5}}
<br>
{{application.answer_5}}
{% endif %}
<br>

{% if user_role == 0 %}
<p>Palaa takaisin omien hakemusten tarkasteluun <a href = "/own_applications">Omat hakemukset </a></p> 
{% else %}
<br>
<p>Valitse hakija työpaikkaan <a href = "/select_applicant/{{application.application_id}}">Valitse hakija</a></p>
<p>Palaa tarkastelemaan hakemuksia <a href = "/all_applicants/{{application.job_id}}">Palaa tarkastelemaan hakemuksia</a></p>
{% endif %}
{% endblock %}