{% extends "layout.html" %}
{% block content %}

{% if user_role == 0 %}
<h2>Hakemuksesi työpaikkaan: {{application.role}}</h2>
{% else %}
<h2> Hakijan {{application.name}} hakemus työpaikkaan {{application.role}}</h2>
{% endif %}

{% if application.question_1 != "-" %}
<p> {{application.question_1}} </p>
<p>{{application.answer_1}}</p>
<br>
{% endif %}

{% if application.question_2 != "" %}
<p>{{application.question_2}}</p>
<p>{{application.answer_2}}</p>
<br>
{% endif %}

{% if application.question_3 != "" %}
<p>{{application.question_3}}</p>
<p>{{application.answer_3}}</p>
<br>
{% endif %}

{% if application.question_4 != "" %}
<p>{{application.question_4}}</p>
<p>{{application.answer_4}}</p>
<br>
{% endif %}

{% if application.question_5 != "" %}
<p>{{application.question_5}}</p>
<p>{{application.answer_5}}</p>
<br>
{% endif %}

{% if user_role == 0 %}
<br>
<p>Palaa takaisin omien hakemusten tarkasteluun <a href = "/own_applications">Omat hakemukset </a></p> 
{% else %}
<br>
<p>Valitse hakija työpaikkaan <a href = "/select_applicant/{{application.application_id}}">Valitse hakija</a></p>
<p>Palaa tarkastelemaan hakemuksia <a href = "/all_applicants/{{application.job_id}}">Palaa tarkastelemaan hakemuksia</a></p>
{% endif %}
{% endblock %}