{% extends "layout.html" %}
{% block content %}

<h2> Käyttäjän <b> {{name}} </b> profiili</h2>

<h3>Profiiliteksti:</h3>
{% if profile_text %}
<div class = "content_box">
    <p> {{profile_text}} </p>
</div>

{% else %}
<div class="content_box_without_content">
    <p>Käyttäjä ei ole vielä lisännyt profiilitekstiä. </p>
</div>
{% endif %}


{% if applicant %}
<h3>Työkokemus:</h3>

{% for job in job_experience %}
<div class = "content_box">
    <p>Työnantaja: {{job.employer}} </p>
    <p>Roolisi: {{job.role}}</p>
    <p>Työnkuvaus:</p>
    {{job.description}}
    <p>Alkupäivämäärä: {{job.beginning}}</p>
    <p>Loppupäivämäärä: {{job.ended}}</p> 
    <br>
</div>
{% endfor %}

{% if not job_experience %}
<div class = "content_box_without_content">
    <p>Käyttäjä ei ole vielä lisännyt tietoa työkokemuksestaan. </p>
</div>
{% endif %}

{% endif %}


{% if applicant %}

<h3>Koulutus:</h3>

{% for education in education %}
<div class = "content_box">
    <p>Koulu: {{education.school}} </p>
    <p>Koulutuksen taso: {{education.level}}</p>
    <p>Koulutuksen kuvaus:</p>
    {{education.description}}
    <p>Aloituspäivämäärä: {{education.beginning}}</p>
    <p>Valmistumispäivämäärä: {{education.graduation}}</p> 
</div>
{% endfor %}

{% if not education %}
<div class = "content_box_without_content">
    <p>Käyttäjä ei ole vielä lisännyt tietoa koulutuksestaan.</p>
</div>
{% endif %}

{% endif %}


{% if applicant %}
<p>Palaa takaisin selaamaan kyseiseen työpaikkaan lähetettyjä hakemuksia </p><a href="/all_applicants/{{job_id}}">Kaikki hakemukset</a>
{% else %}
<p>Palaa takaisin etusivulle: </p> <a href = "/mainpage"> Etusivu</a>
{% endif %}

{% endblock %}