{% extends "layout.html" %}
{% block content %}

{% if user_role == 0 %}
<p>Hakemuksesi työpaikkaan: {{application.role}}</p>
{% else %}
<p> Hakijan {{application.name}} hakemus työpaikkaa {{application.role}}</p>
{% endif %}

eka kysymys
<br>
{{application.question_1}}
<br>
{{application.answer_1}}

{% if user_role == 0 %}
<p>Palaa takaisin omien hakemusten tarkasteluun <a href = "/own_applications">Palaa takaisin omien hakemusten tarkasteluun </a></p> 
<p>Mahdollisesti muokkaa hakemusta?</p>
<p>Tai poista hakemus kokonaan?</p>
{% else %}
<br>
<p>Valitse hakija työpaikkaan <a href = "/select_applicant/{{application.application_id}}">Valitse hakija</a></p>
<p>Valitse hakija työpaikkaanPalaa tarkastelemaan hakemuksia <a href = "/all_applicants/{{application.job_id}}">Palaa tarkastelemaan hakemuksia</a></p>
{% endif %}
{% endblock %}